<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name='RecDBEntities' connectionString='metadata=res://*/RecDb.csdl|res://*/RecDb.ssdl|res://*/RecDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-4PHGOBJ\SQLEXPRESS;initial catalog=RecDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;' providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>